@model OnlineSlotReports.Web.ViewModels.GalleryViewModels.AllGuestViewModel
@{
    ViewData["Title"] = "Gallery";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="gallery-grid.css">


</head>
<body>

    <div class="container gallery-container">
        <div class="tz-gallery">

            <div class="row" margin="1">
                @foreach (var pic in Model.Pictures)
                {
                    <div class="m-2">
                        <div class="col-md-4">
                            <a class="lightbox" href="@pic.Url">
                                <img src="@pic.Url" alt="Card image cap" height="200" width="300">
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>
@section Links{
    <partial name="_LinksPartial" model="@Model.GamingHallId" />
}
@if (Model.PagesCount > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurentPage == 1)
            {
                <li class="page-item disabled"><a class="page-link bg-dark" href="#"><i class="fas fa-arrow-left"></i></a></li>
            }
            else
            {
                <li class="page-item bg-dark"><a class="page-link" asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GamingHallId" asp-route-page="@(Model.CurentPage-1)"><i class="fas fa-arrow-left"></i></a></li>
            }
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                var active = i == Model.CurentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link" asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GamingHallId" asp-route-page="@i">@i</a>
                </li>
            }
            @if (Model.CurentPage == Model.PagesCount || Model.PagesCount == 0)
            {
                <li class="page-item disabled"><a class="page-link bg-dark" href="#"><i class="fas fa-arrow-right"></i></a></li>
            }
            else
            {
                <li class="page-item bg-dark"><a class="page-link" asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GamingHallId" asp-route-page="@(Model.CurentPage+1)"><i class="fas fa-arrow-right"></i></a></li>
            }
        </ul>
    </nav>
}