@model OnlineSlotReports.Web.ViewModels.GalleryViewModels.AllPictureViewModel
@{
    ViewData["Title"] = "View";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="gallery-grid.css">


</head>
<body>
    @if (this.TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @this.TempData["Message"]
        </div>
    }
    <div class="container gallery-container">

        <h1 align="center" class="display-4">Gallery</h1>
        <p>
            <a asp-controller="Gallery" asp-action="Add" asp-route-id="@Model.GamingHallId" class="btn btn-primary">Add picture!</a>
        </p>
        <div class="tz-gallery">

            <div class="row" margin="1">
                @foreach (var pic in Model.Pictures)
                {

                    <div class="col-md-4 card" style="width: 18rem;">
                        <a class="lightbox" href="@pic.Url">
                            <img src="@pic.Url" alt="Card image cap" height="200">
                        </a>
                        <p align="right">
                            <a asp-controller="Gallery" asp-action="Delete" asp-route-id="@pic.Id" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');">Delete!</a>
                        </p>
                    </div>
                }

            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>