@model OnlineSlotReports.Web.ViewModels.SlotMachinesViewModels.AllSlotMachinesViewModel
@{
    ViewData["Title"] = "All Slot Machines";
}
<h1 align="center" class="display-4">All Slot machines</h1>
@if (this.TempData["Message"] != null)
{
    <div class="alert alert-success">
        @this.TempData["Message"]
    </div>
}
<p>
    <a href="/SlotMachine/Add/@Model.GamingHallId" class="btn btn-primary">Add Slot machine!</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">LicenseNumber</th>
            <th scope="col">Model</th>
            <th scope="col">NumberInHall</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in Model.SlotMachines)
        {

            <tr>
                <th>@machine.LicenseNumber</th>
                <td>@machine.Model</td>
                <td>@machine.NumberInHall</td>
                <td><a asp-controller="Counters" asp-action="Enter" asp-route-id="@machine.Id">Enter Counters</a></td>
                <td><a asp-controller="SlotMachine" asp-action="Delete" asp-route-id="@machine.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete!</a></td>
            </tr>
        }
    </tbody>
</table>

