@model OnlineSlotReports.Web.ViewModels.SlotMachinesViewModels.AllIndexViewModel
@{
    ViewData["Title"] = "All Slot Machines";
}
<h1 align="center" class="display-4">Slot Machines</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">NumberInHall</th>
            <th scope="col">Model</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in Model.SlotMachines)
        {

            <tr>
                <td>@machine.NumberInHall</td>
                <td>@machine.Model</td>
            </tr>
        }
    </tbody>
</table>

@section Links{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="SlotMachine" asp-action="Index" asp-route-id="@Model.GamingHallId">Slot machines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.GamingHallId">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Wins" asp-action="Index" asp-route-id="@Model.GamingHallId">Wins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="GamingHall" asp-action="Details" asp-route-id="@Model.GamingHallId">Contacts</a>
    </li>

}