@model OnlineSlotReports.Web.ViewModels.EmployeesViewModel.AllEmployeesViewModel
@{
    ViewData["Title"] = "AllEmployees";
}

<h1 align="center" class="display-4">All Employees</h1>
<p>
    <a asp-controller="Employees" asp-action="Add" asp-route-id="@Model.GamingHallId" class="btn btn-primary">Add Employee!</a>
</p>
@if (this.TempData["Message"] != null)
{
    <div class="alert alert-success">
        @this.TempData["Message"]
    </div>
}
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Hired On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {

            <tr>
                <th>@employee.FullName</th>
                <th><a asp-controller="Employees" asp-action="ChangePhoneNumber" asp-route-id="@employee.Id">@employee.PhoneNumber</a></th>
                <td><a asp-controller="Employees" asp-action="ChangeEmail" asp-route-id="@employee.Id">@employee.Email</a></td>
                <td>@employee.StartWorkDate.Date</td>
                <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete!</a></td>
            </tr>
        }
    </tbody>
</table>
<p align="right">
    <a asp-controller="GamingHall" asp-action="Halls" asp-route-id="@Model.GamingHallId" class="btn btn-primary">Back</a>
</p>

