@model OnlineSlotReports.Web.ViewModels.ReportsViewModels.AllReportsViewModel
@{
    ViewData["Title"] = "Reports";
}

<h1 align="center" class="display-4">Reports</h1>
@if (this.TempData["Message"] != null)
{
    <div class="alert alert-success">
        @this.TempData["Message"]
    </div>
}

<div class="row">
    <div class="col-md-2">
        <p>
            <a asp-controller="Reports" asp-action="Add" asp-route-id="@Model.HallId" class="btn btn-primary btn-block">Add report</a>
        </p>
        <p>
            <a asp-controller="Reports" asp-action="ForAPeriod" asp-route-id="@Model.HallId" class="btn btn-primary btn-block">Period report</a>
        </p>
        <p>
            <a asp-controller="GamingHall" asp-action="Halls" asp-route-id="@Model.HallId" class="btn btn-primary btn-block">Back</a>
        </p>
    </div>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Entrance for the day:</th>
            <th scope="col">Output for the day: </th>
            <th scope="col">Result:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {

            <tr>
                <th>@report.Date</th>
                <th>@report.InForDay</th>
                <td>@report.OutForDay</td>
                <td>@report.DeilyResult</td>
            </tr>
        }
    </tbody>
</table>




