@model OnlineSlotReports.Web.ViewModels.ReportsViewModels.ForADateReportViewModel
@{
    ViewData["Title"] = "ForAPeriod";
}

<h1 align="center" class="display-4">Report for a period</h1>
<form asp-controller="Reports" asp-action="ForAPeriod" method="get">
    <div class="row">
        <input asp-for="Id" class="form-control" type="hidden" />
        <div class="col-md-3">
            <label asp-for="FromDate">From Date</label>
            <input asp-for="FromDate" class="form-control" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
        <div class="col-md-9">
            <label asp-for="ToDate">To Date</label>
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="ToDate" class="form-control" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>
                <div class="col-md-8" align="right">
                    <input type="submit" value="Show" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
@foreach (var report in Model.Reports)
{
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@report.Date">Date:</label>
            <input asp-for="@report.Date" class="form-control" disabled="disabled"/>
        </div>
        <div class="col-md-3">
            <label asp-for="@report.InForDay">In For Day:</label>
            <input asp-for="@report.InForDay" class="form-control" disabled="disabled"/>
        </div>
        <div class="col-md-3">
            <label asp-for="@report.OutForDay">Out For Day:</label>
            <input asp-for="@report.OutForDay" class="form-control" disabled="disabled"/>
        </div>
        <div class="col-md-3">
            <label asp-for="@report.DeilyResult">Deily Result:</label>
            <input asp-for="@report.DeilyResult" class="form-control" disabled="disabled"/>
        </div>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <label asp-for="@Model.TotalIn">Total In:</label>
        <input asp-for="@Model.TotalIn" class="form-control bg-info text-light" disabled="disabled"/>
    </div>
    <div class="col-md-3">
        <label asp-for="@Model.TotalOut">Total Out:</label>
        <input asp-for="@Model.TotalOut" class="form-control bg-info text-light" disabled="disabled"/>
    </div>
    <div class="col-md-3">
        <label asp-for="@Model.TotaResult">Tota Result:</label>
        <input asp-for="@Model.TotaResult" class="form-control bg-info text-light" disabled="disabled"/>
    </div>
</div>