@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.AddElementsViewModel
@{
    ViewData["Title"] = "AddElements";
}

<h1 align="center" class="display-4">Add Elements</h1>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="alert-heading col-md-6" align="center">
        <p>
            <a asp-controller="SlotMachine" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Add Slot machine</a>
        </p>
        <p>
            <a asp-controller="Employees" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Add Employee</a>
        </p>
        <p>
            <a asp-controller="Wins" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Add Win</a>
        </p>
        <p>
            <a asp-controller="Gallery" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Add Picture</a>
        </p>
        <p align="center">
            <div class="col-md-3">
                <a asp-controller="GamingHall" asp-action="Halls" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Back</a>
            </div>
        </p>
    </div>
    <div class="col-md-3"></div>
</div>