@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 align="center" class="display-4">@Model.HallName</h1>
<div align="center">
    <h2 align="center">@Model.Description</h2>
</div>
<div align="right">
    <h3>Phone: @Model.PhoneNumber</h3>
    <h3>Adress: @Model.Adress</h3>
    <h3>Town: @Model.Town</h3>
</div>
@section Links{


    <li class="nav-item">
        <a class="nav-link text-dark" href="/SlotMachine/Index/@Model.Id">Slot machines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Gallery/Index/@Model.Id">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Wins/Index/@Model.Id">Wins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/GamingHall/Details/@Model.Id">Contacts</a>
    </li>

}


