@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 align="center">@Model.HallName</h1>
<div align="center">
    <h2 align="center">@Model.Description</h2>
</div>
<div align="right">
    <h3>Phone: @Model.PhoneNumber</h3>
    <h3>Adress: @Model.Adress</h3>
    <h3>Town: @Model.Town</h3>
</div>
@section Links{

    <li class="nav-item">
        <a class="nav-link text-dark" href="/SlotMachine/All/@Model.Id">Slot Machines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Employees/AllEmployees/@Model.Id">Employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Wins/All/@Model.Id">Wins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Gallery/All/@Model.Id">Gallery</a>
    </li>
}


