@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutHall";
}

<h1 align="center">@Model.HallName</h1>
<div align="center">
    <h2 align="center">@Model.Description</h2>
</div>
<div align="right">
    <h3>Phone: @Model.PhoneNumber</h3>
    <h3>Adress: @Model.Adress</h3>
    <h3>Town: @Model.Town</h3>
</div>


