@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.AllHallsViewModel
@{
    ViewData["Title"] = "Halls";
}

<h1 align="center" class="display-4">My Gaming Halls</h1>
@foreach (var hall in Model.GamingHalls)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 align="center" class="display-4">"@hall.HallName"</h1>
            <p class="lead" align="center">@hall.Adress - @hall.Town</p>
            <p class="lead" align="center"><a href="/Reports/All/@hall.Id" class="btn btn-primary">Reports</a></p>
            <br>
            <div class="row" align="center">
                <p class="lead col-md-3"><a href="/SlotMachine/All/@hall.Id">Slot Machines (@hall.SlotMachinesCount)</a></p>
                <p class="lead col-md-3"><a href="/Employees/AllEmployees/@hall.Id">Employees (@hall.EmployeesCount)</a></p>
                <p class="lead col-md-3"><a href="/Wins/All/@hall.Id">Wins</a></p>
                <p class="lead col-md-3"><a href="/Gallery/All/@hall.Id">Gallery</a></p>
            </div>
            <p class="lead"></p>
            <br>
            <table style="width:100%">
                <tr align="center">
                    <th><a href="/GamingHall/AddElements/@hall.Id" class="btn btn-primary">Administration Panel</a></th>
                    <th><a href="/GamingHall/Update/@hall.Id" class="btn btn-primary">Update</a></th>
                    <th><a href="/GamingHall/Delete/@hall.Id" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></th>
                    <th><a asp-controller="GamingHall" asp-action="Details" asp-route-id="@hall.Id" class="btn btn-primary">Details</a></th>
                </tr>
            </table>
        </div>
    </div>
}


