@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.AllHallsViewModel
@{
    ViewData["Title"] = "Halls";
}

<h1 align="center">My Gaming Halls</h1>
@foreach (var hall in Model.GamingHalls)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6" align="center">"@hall.HallName"</h1>
            <p class="lead"><a href="/SlotMachine/All?id=@hall.Id">Slot Machines (@hall.SlotMachinesCount)</a></p>
            <p class="lead"><a href="/Employees/AllEmployees?id=@hall.Id">Employees (@hall.EmployeesCount)</a></p>
            <p class="lead"><a href="/Wins/All?id=@hall.Id">Wins</a></p>
            <p class="lead"></p>
            <p class="lead">Adress: @hall.Adress @hall.Town</p>
            <table style="width:100%">
                <tr align="right">
                    <th><a href="/GamingHall/Details?id=@hall.Id" class="btn btn-primary">Details</a></th>
                    <th><a href="/GamingHall/Update?id=@hall.Id" class="btn btn-primary">Update</a></th>
                    <th><a href="/GamingHall/Delete?id=@hall.Id" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></th>
                </tr>
            </table>
        </div>
    </div>
}


