@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.IndexGamingHallViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-3">
        <div>
            <img src="@Model.ImageUrl" alt="Alternate Text" width="200" />
        </div>
        <hr />
        <h6>All "@Model.HallName"</h6>
        <h6>Gaming Halls</h6>
        <hr />
        <vc:index-g-hall name="@Model.HallName"></vc:index-g-hall>
    </div>
    <div class="col-md-9">
        <h1 align="center" class="display-4">"@Model.HallName"</h1>
        <p align="center"> @Model.Description</p>
    </div>
</div>
@section Links{
    <partial name="_LinksPartial" model="@Model.Id" />
}
