@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.IndexGamingHallViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="row">

    <div class="col-md-3">
        <div>
            <img src="@Model.ImageUrl" alt="Alternate Text" width="100" />
        </div>
        <hr />
        <div>
            <a asp-controller="SlotMachine" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Slot Machines</a>
        </div>
        <hr />
        <div>
            <a asp-controller="Gallery" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Gallery</a>
        </div>
        <hr />
        <div>
            <a asp-controller="Wins" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Wins</a>
        </div>
        <hr />
        <div>

            <a asp-controller="GamingHall" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Contacts</a>
        </div>
    </div>
    <div class="col-md-9">
        <h1 align="center" class="display-4">@Model.HallName</h1>
        @Model.Description
    </div>
</div>
@section Links{
<partial name="_LinksPartial" model="@Model.Id"/>
}
