@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.SearchHallsViewModel
@{
    ViewData["Title"] = "Search";
}
<h5 align="center">Can search by name ot town!</h5>
<form asp-controller="GamingHall" asp-action="Search" asp-route-name="@Model.Name" method="get">
    <div class="md-form active-pink-2 mb-3">
        <input asp-for="Name" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div align="center">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
@foreach (var hall in Model.GamingHalls)
{
    <div class="card">
        <div class="card-header">
            <a asp-controller="GamingHall" asp-action="Index" asp-route-id="@hall.Id">@hall.HallName</a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="row">
                    <div class="col-md-2">
                        <img src="@hall.ImageUrl" alt="Alternate Text" height="100" />
                    </div>
                    <div class="col-md-10">
                        <p>@hall.ShortDescription</p>
                        <footer class="blockquote-footer"> Address: @hall.Adress<cite title="Source Title"> @hall.Town</cite></footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
}