@model OnlineSlotReports.Web.ViewModels.GamingHallViewModels.SearchHallsViewModel
@{
    ViewData["Title"] = "Search";
}
<form asp-controller="GamingHall" asp-action="Search" asp-route-name="@Model.Name" method="get">
    <div class="row">
        <div class="col-md-3">        
        </div>
        <div class="md-form active-pink-2 col-md-5">
            <input asp-for="Name" class="form-control" type="text" placeholder="You can search Gaming hall by name or town!" aria-label="Search">
        </div>
        <div class="col-md-1" align="left">
            <input type="submit" value="Search" class="btn btn-light" />
        </div>
    </div>
</form>
<div align="center">
    @if (Model.GamingHalls.Count() == 0 && this.TempData["message"] != null)
    {
        <div class="alert alert-warning m-4 col-md-4">
            @this.TempData["Message"]
        </div>
    }
</div>
@foreach (var hall in Model.GamingHalls)
{
    <div class="card m-4">
        <div class="card-header bg-dark">
            <a asp-controller="GamingHall" asp-action="Index" asp-route-id="@hall.Id">@hall.HallName</a>
        </div>
        <div class="card-body bg-dark">
            <blockquote class="blockquote mb-0">
                <div class="row">
                    <div class="col-md-2">
                        <img src="@hall.ImageUrl" alt="Alternate Text" height="100" width="100" />
                    </div>
                    <div class="col-md-10">
                        <p>@hall.ShortDescription</p>
                        <footer class="blockquote-footer"> Address: @hall.Adress<cite title="Source Title"> @hall.Town</cite></footer>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
}