@model IEnumerable<OnlineSlotReports.Data.Models.GamingHall>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center" class="display-4">All Gaming Halls</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.HallName)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Adress)</h6>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Town)</h6>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.PhoneNumber)</h6>
                <hr />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-area="" asp-controller="Gallery" asp-action="All" asp-route-id="@item.Id">Gallery</a>
                <a asp-area="" asp-controller="Wins" asp-action="All" asp-route-id="@item.Id">Wins</a>
            </div>
        </div>
    </div>
    }
</div>